<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "The Society" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>

    <%= render 'shared/topbar' %>
  </head>

  <body>

    <div class="content">
      <%= yield %>
    </div>

  </body>
  <footer>
    <%= render 'shared/footer' %>
  </footer>
</html>
